.paper-wasp-pull-quote {
    width: 60%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 3em;
    text-align: center;

    aside {
        font-style: italic;
    }
}
