// Colors
$black: #555555;
$paper-wasp: yellow;
$component-highlight: #6ec1e4;

// Text Colors
$text-muted: grey;
$text-primary: #117BB6;
$text-success: green;
$text-info: $black;
$text-warning: orange;
$text-danger: red;

// Button colors
$button-primary: $text-primary;
$button-secondary: #f7f7f7;