@import 'variables';
@import 'global';
@import '../js/components/paper-wasp-component/styles/component';
@import '../js/components/paper-wasp-component/styles/component-editor';
@import '../js/components/paper-wasp-component-column/styles/component-edit-mode';
@import '../js/components/paper-wasp-component-rich-text/styles/component-editor';
@import '../js/components/paper-wasp-component-row/styles/component-edit-mode';
@import "../js/components/paper-wasp-component-video/styles/component-editor";
@import '../js/modules/paper-wasp-component-selector/styles';
@import 'paper-wasp-editor/action-bar';
@import 'paper-wasp-editor/buttons';
@import 'paper-wasp-editor/modal';
@import 'paper-wasp-editor/screen-add-section';
@import 'components';

.paper-wasp-editor__add {

  margin: 20px 0;
  position: relative;
  text-align: center;

}

.paper-wasp-field {
  display: block;
  margin: 1em 0;
  input {
    padding: .5em;
    width: 100%;
    font-size: 16px;
  }
  select {
    display: block;
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.15;
    text-transform: none;
  }
  & span:first-child {
    display: block;
  }
  span {
    font-weight: normal;
  }
  span:first-child {
    display: block;
    margin-bottom: .25em;
  }
}

.paper-wasp-editor {
  [draggable] {
    user-select: text;
  }
}

[data-pw-drag-handle] {
  cursor: move;
}