.paper-wasp-grid {

  &-edit-mode__action-add {
    width: 100%;
    pointer-events: all !important;
  }

  .paper-wasp-component__title {
    top: 0;
    height: 30px;
    border-radius: 0 0 6px 6px;
  }
}