.paper-wasp-row {

  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  padding: 40px 0;

  &.paper-wasp-collapse {
    padding: 0;
  }

  @media screen and (max-width: 640px) {
    flex-wrap: wrap;
  }

}
