.paper-wasp-text-left { text-align: left; }

.paper-wasp-text-center { text-align: center; }

.paper-wasp-text-right { text-align: right; }

.paper-wasp-component { border: 1px dashed transparent; position: relative; min-height: 24px; }

.paper-wasp-component__title { display: none; cursor: default; font-size: 16px; line-height: 100%; padding: .25em .5em; position: absolute; left: -1px; bottom: 100%; text-transform: capitalize; font-weight: lighter; border-radius: 6px 6px 0 0; border: 1px solid grey; border-bottom: 1px dashed #6ec1e4; }

.paper-wasp-component__title span { margin-right: .5em; }

.paper-wasp-component__title, .paper-wasp-component__action { background-color: #555555; color: white; }

.paper-wasp-component__children { height: 100%; }

.paper-wasp-component__children a, .paper-wasp-component__children button { pointer-events: none; }

.paper-wasp-component:hover { border-color: #6ec1e4; }

.paper-wasp-component:hover > .paper-wasp-component__title { display: block; }

.paper-wasp-component:hover > .paper-wasp-component__actions { display: block; }

.paper-wasp-component--empty .paper-wasp-component__children div { border: 1px dashed black; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-height: 50px; position: relative; text-align: center; }

.paper-wasp-component--empty .paper-wasp-component__children div:hover { border: none; }

.paper-wasp-component-editor { position: relative; }

.paper-wasp-component-editor__menu { position: absolute; top: 0; right: 0; }

.paper-wasp-component-editor__menu_option { background: none; border: none; color: #66757F; display: inline-block; font-size: 20px; margin: 0 0 0 .25em; padding: .25em .5em; border-radius: 6px; }

.paper-wasp-component-editor__menu_option:hover, .paper-wasp-component-editor__menu_option:focus { background: #dedede; }

.paper-wasp-component-editor__menu_option--active { background: #ebebeb; }

.paper-wasp-component-editor__actions { margin: 2em 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: start; align-content: flex-start; }

.paper-wasp-component-editor__action-delete { margin-top: 2em; font-size: 16px; text-decoration: none; border: none; }

.paper-wasp-editor .paper-wasp-column { position: relative; }

.paper-wasp-editor .paper-wasp-column__content { height: 100%; }

.paper-wasp-editor .paper-wasp-column__content .paper-wasp-component:only-child { height: 100%; }

.paper-wasp-editor .paper-wasp-column:before, .paper-wasp-editor .paper-wasp-column:after { content: ''; position: absolute; width: 0; height: 0; border: 3px solid transparent; }

.paper-wasp-editor .paper-wasp-column:before { top: 0; right: 0; }

.paper-wasp-editor .paper-wasp-column:after { bottom: 0; left: 0; }

.paper-wasp-editor .paper-wasp-column__action-add { display: none; background: #555555; color: white; font-family: monospace; position: absolute; bottom: 2px; left: 0; width: 30px; height: 30px; font-size: 20px; line-height: 30px; margin: 0; padding: 0; border-radius: 50%; -webkit-transform: translate(-15px, 15px); transform: translate(-15px, 15px); z-index: 1; border: 1px solid grey; }

.paper-wasp-editor .paper-wasp-column__action-menu { display: none; background: #555555; color: white; position: absolute; font-family: monospace; top: 0; right: 0; width: 30px; height: 30px; font-size: 15px; line-height: 29px; margin: 0; padding: 0; border-radius: 50%; -webkit-transform: translate(15px, -15px); transform: translate(15px, -15px); z-index: 1; text-align: center; border: 1px solid grey; }

.paper-wasp-editor .paper-wasp-column__actions { display: none; bottom: 100%; right: 0; position: absolute; }

.paper-wasp-editor .paper-wasp-column__action { background-color: black; color: white; font-size: 25px; text-align: center; line-height: 100%; cursor: pointer; display: inline-block; margin: 1px; padding: 0; width: 25px; height: 25px; }

.paper-wasp-editor .paper-wasp-column:hover:before { height: 100%; border-right-color: #6ec1e4; -webkit-transition: height 0.3s ease-out 0.1s; transition: height 0.3s ease-out 0.1s; }

.paper-wasp-editor .paper-wasp-column:hover:after { width: 100%; border-bottom-color: #6ec1e4; -webkit-transition: width 0.3s ease-out 0.1s; transition: width 0.3s ease-out 0.1s; }

.paper-wasp-editor .paper-wasp-column:hover .paper-wasp-column__action-add, .paper-wasp-editor .paper-wasp-column:hover .paper-wasp-column__action-menu, .paper-wasp-editor .paper-wasp-column:hover .paper-wasp-column__actions { display: block; }

.paper-wasp-editor .paper-wasp-column--empty .paper-wasp-column__content { min-height: 100px; border: 1px dashed black; }

.paper-wasp-editor .paper-wasp-column--empty .paper-wasp-column__content:before { content: '+'; display: inline-block; position: absolute; top: 50%; left: 50%; line-height: 1em; font-size: 24px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.paper-wasp-editor .paper-wasp-column--empty .paper-wasp-column__content:hover { border-color: #6ec1e4; }

.paper-wasp-editor .paper-wasp-column[draggable="false"][data-pw-can-edit="false"]:before { display: none; }

.paper-wasp-editor .paper-wasp-column[data-pw-can-append="false"]:after { display: none; }

.paper-wasp-grid-edit-mode__action-add { width: 100%; pointer-events: all !important; }

.paper-wasp-component-editor .mce-tinymce button:hover { background-color: inherit; }

.tiny-image-editor div > div > button { background-color: #ADD8E6; padding: 5px; margin-left: 20px; margin-top: 5px; }

.tiny-image-editor + div { margin-top: 10px; }

.paper-wasp-editor .paper-wasp-row-wrap { position: relative; }

.paper-wasp-editor .paper-wasp-row-wrap:before, .paper-wasp-editor .paper-wasp-row-wrap:after { content: ''; position: absolute; width: 30px; height: 0; border: 3px solid transparent; }

.paper-wasp-editor .paper-wasp-row-wrap:before { bottom: 50%; left: -30px; }

.paper-wasp-editor .paper-wasp-row-wrap:after { top: 50%; left: -30px; }

.paper-wasp-editor .paper-wasp-row-wrap .paper-wasp-row__action-menu { display: none; background: #555555; color: white; position: absolute; top: 50%; left: -13px; width: 30px; height: 30px; font-size: 15px; line-height: 29px; margin: 0; padding: 0; border-radius: 50%; -webkit-transform: translate(-30px, -50%); transform: translate(-30px, -50%); z-index: 2; text-align: center; border: 1px solid grey; }

.paper-wasp-editor .paper-wasp-row-wrap:hover:before, .paper-wasp-editor .paper-wasp-row-wrap:hover:after { height: 50%; border-left-color: #6ec1e4; -webkit-transition: height 0.3s ease-out 0.5s; transition: height 0.3s ease-out 0.5s; z-index: 1; }

.paper-wasp-editor .paper-wasp-row-wrap:hover .paper-wasp-row__action-menu { display: block; }

.paper-wasp-editor .paper-wasp-row-wrap[draggable="false"][data-pw-can-edit="false"]:before, .paper-wasp-editor .paper-wasp-row-wrap[draggable="false"][data-pw-can-edit="false"]:after { display: none; }

.paper-wasp-video iframe { pointer-events: none; }

.paper-wasp-component-selector__selector { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.paper-wasp-component-selector__selector .paper-wasp-field { display: -webkit-box; display: -ms-flexbox; display: flex; }

.paper-wasp-component-selector__selector label { -ms-flex-preferred-size: 75%; flex-basis: 75%; }

.paper-wasp-component-selector__selector button { -ms-flex-preferred-size: 20%; flex-basis: 20%; margin: 1em 0; }

.paper-wasp-component-selector__preview { text-align: center; height: 300px; padding-top: 1em; margin-top: 1em; border-top: 1px dashed #cccccc; }

.paper-wasp-component-selector__preview img { display: block; max-width: 100%; }

.paper-wasp-action-bar { background: #aaa; bottom: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; left: 0; padding: 1em; position: fixed; right: 0; z-index: 100; }

.paper-wasp-action-bar button { margin: 0 0 0 1em; }

.paper-wasp-button-primary, .paper-wasp-button-secondary { border-radius: 6px; font-size: 16px; font-weight: normal; margin: 0; padding: .5em 1em; text-transform: none; }

.paper-wasp-button-primary { color: white; background-color: #117BB6; border: 1px solid #0d5b87; text-shadow: 1px 1px 1px #0d5b87; }

.paper-wasp-button-primary:hover { background-color: #1284c4; border: 1px solid #0e6595; }

.paper-wasp-button-primary:focus { background-color: #0d5b87; border: 1px solid #083c59; }

.paper-wasp-button-secondary { color: #555555; background-color: #f7f7f7; border: 1px solid #dedede; text-shadow: 1px 1px 1px #dedede; }

.paper-wasp-button-secondary:hover { background-color: #fafafa; border: 1px solid #e0e0e0; }

.paper-wasp-button-secondary:focus { background-color: #eaeaea; border: 1px solid #d1d1d1; }

.paper-wasp-link, .paper-wasp-link-danger { color: #117BB6; background: none; display: inline-block; font-weight: normal; text-decoration: underline; margin: 0; padding: 0; text-transform: none; }

.paper-wasp-link:hover, .paper-wasp-link-danger:hover, .paper-wasp-link:focus, .paper-wasp-link-danger:focus { background: none; color: #0d5b87; }

.paper-wasp-link-danger { color: red; }

.paper-wasp-link-danger:hover, .paper-wasp-link-danger:focus { color: #cc0000; }

.paper-wasp-modal { background: rgba(100, 100, 100, 0.85); display: none; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 1000; }

.paper-wasp-modal__content { background: white; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); padding: 30px; max-height: calc(100vh - 80px); min-width: 600px; border-radius: 10px; }

.paper-wasp-modal__content p { margin: .5em 0; padding: 0; }

.paper-wasp-modal__title { font-size: 28px; border-bottom: 1px solid #dedede; padding: 0 0 .6em 0; margin: 0 0 1em 0; line-height: 1em; }

.paper-wasp-modal__close, .paper-wasp-modal__close:hover, .paper-wasp-modal__close:focus { background: transparent; border: none; font-size: 40px; line-height: 1em; margin: 0; padding: 0; position: absolute; right: 0; top: 0; width: 40px; font-weight: normal; }

.paper-wasp-modal__close:before, .paper-wasp-modal__close:hover:before, .paper-wasp-modal__close:focus:before { color: #555555; content: '\D7'; }

.paper-wasp-modal__scroll { padding: 10px; overflow-y: auto; max-height: calc(100vh - 9.2em); }

.paper-wasp-modal--open { display: block; }

.paper-wasp-editor__screen_add_section button { color: black; display: inline-block; background: none; margin: 0; padding: 10px; font-weight: normal; text-transform: none; }

.paper-wasp-editor__section-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.paper-wasp-editor__section { border: none; -ms-flex-preferred-size: 33.33%; flex-basis: 33.33%; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.paper-wasp-editor__section:hover .paper-wasp-editor__section-column { border-color: #117BB6; }

.paper-wasp-editor__section:hover .paper-wasp-editor__section-title { color: #117BB6; }

.paper-wasp-editor__section-title { display: inline-block; margin-top: .5em; }

.paper-wasp-editor__section-row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.paper-wasp-editor__section-column { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -ms-flex-negative: 1; flex-shrink: 1; height: 30px; border: 1px solid #ccc; }

.paper-wasp-button { background-color: #117BB6; border-radius: 5px; color: #ffffff; display: inline-block; text-decoration: none; font-size: 1em; padding: 0.5em 1em; }

.paper-wasp-button:hover { color: #ffffff; }

.paper-wasp-button--small { font-size: .75em; padding: .25em 0.75em; }

.paper-wasp-button--large { padding: .75em 1.25em; font-size: 1.25em; }

.paper-wasp-button--extra-large { padding: 1.25em 1.5em; font-size: 1.5em; }

.paper-wasp-column { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -ms-flex-negative: 1; flex-shrink: 1; -ms-flex-preferred-size: 100%; flex-basis: 100%; margin: 10px; }

.paper-wasp-column.paper-wasp-collapse { margin: 0; }

.paper-wasp-grid { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.paper-wasp-grid > * { padding: 10px; }

.paper-wasp-grid__cols-2 > * { width: calc(100% / 2); }

.paper-wasp-grid__cols-3 > * { width: calc(100% / 3); }

.paper-wasp-grid__cols-4 > * { width: calc(100% / 4); }

.paper-wasp-heading--center { text-align: center; }

.paper-wasp-heading--right { text-align: right; }

.paper-wasp-image { margin: 0; padding: 0; }

.paper-wasp-image--center { text-align: center; }

.paper-wasp-image--right { text-align: right; }

.paper-wasp-image--cover img { width: 100%; height: auto; max-height: 100%; }

.paper-wasp-image img { max-width: 100%; }

.paper-wasp-rich-text:after { content: ""; display: table; clear: both; }

.paper-wasp-row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: start; align-content: flex-start; padding: 40px 0; }

.paper-wasp-row.paper-wasp-collapse { padding: 0; }

.paper-wasp-video--responsive .wp-video, .paper-wasp-video--responsive .wp-video-shortcode { width: 100% !important; }

.paper-wasp-video--responsive .mejs-video, .paper-wasp-video--responsive iframe { max-width: 100%; }

.paper-wasp-video--responsive > div { position: relative; padding-bottom: 56.25%; height: 0; }

.paper-wasp-video--responsive > div iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.paper-wasp-video--center .wp-video, .paper-wasp-video--center iframe { display: block; margin-left: auto; margin-right: auto; }

.paper-wasp-video--right > div { text-align: right; }

.paper-wasp-video--right .wp-video { display: block; margin-left: auto; }

.paper-wasp-editor__add { margin: 20px 0; position: relative; text-align: center; }

.paper-wasp-field { display: block; margin: 1em 0; }

.paper-wasp-field input { padding: .5em; width: 100%; font-size: 16px; }

.paper-wasp-field input[type="checkbox"], .paper-wasp-field input[type="radio"] { width: auto; }

.paper-wasp-field select { display: block; width: 100%; font-family: sans-serif; font-size: 16px; line-height: 1.15; text-transform: none; }

.paper-wasp-field span:first-child { display: block; }

.paper-wasp-field span { font-weight: normal; }

.paper-wasp-field span:first-child { display: block; margin-bottom: .25em; }

.paper-wasp-editor [draggable] { -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }

[data-pw-drag-handle] { cursor: move; }

@media screen and (max-width: 640px) {

 .paper-wasp-row { -ms-flex-wrap: wrap; flex-wrap: wrap; } }

/*# sourceMappingURL=paper-wasp-editor.css.map*/