// Buttons
%paper-wasp-button {
  border-radius: 6px;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: .5em 1em;
  text-transform: none;
}

.paper-wasp-button-primary {
  @extend %paper-wasp-button;
  color: white;
  background-color: $button-primary;
  border: 1px solid darken($button-primary, 10%);
  text-shadow: 1px 1px 1px darken($button-primary, 10%);
  &:hover {
    background-color: lighten($button-primary, 3%);
    border: 1px solid lighten(darken($button-primary, 10%), 3%);
  }
  &:focus {
    background-color: darken($button-primary, 10%);
    border: 1px solid darken(darken($button-primary, 10%), 10%);
  }
}

.paper-wasp-button-secondary {
  @extend %paper-wasp-button;
  color: $black;
  background-color: $button-secondary;
  border: 1px solid darken($button-secondary, 10%);
  text-shadow: 1px 1px 1px darken($button-secondary, 10%);
  &:hover {
    background-color: lighten($button-secondary, 1%);
    border: 1px solid lighten(darken($button-secondary, 10%), 1%);
  }
  &:focus {
    background-color: darken($button-secondary, 5%);
    border: 1px solid darken(darken($button-secondary, 10%), 5%);
  }
}

// Links
%paper-wasp-link {
  color: $button-primary;
  background: none;
  display: inline-block;
  font-weight: normal;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  text-transform: none;
  &:hover, &:focus {
    background: none;
    color: darken($button-primary, 10%);
  }
}

.paper-wasp-link {
  @extend %paper-wasp-link;
}

.paper-wasp-link-danger {
  @extend %paper-wasp-link;
  color: $text-danger;
  &:hover, &:focus {
    color: darken($text-danger, 10%);
  }
}